<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bell_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bell_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".New_details">
        </activity>

        <activity android:name=".Add_doct_appt">
        </activity>
    </application>

</manifest>